@import './../../stylesheets/global.scss';

.viewer {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;

  margin: 0 auto;
  padding: 0;

  .meme-renderer {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 95%;
    width: 100%;
    margin: 0;

    bottom: 0;

    .meme-information {
      max-width: 50%;
      opacity: 1;

      .description {
        width: 100%;
        text-align: center;
      }

      .slider {
        margin: 5px;
      }

      .other-vids {
        height: 100%;
        width: 100%;
        margin: 0;
        .popular {
          height: 25%;
          width: 50%;

          background: radial-gradient(white, lightslategray);
          margin-bottom: 2.5px;
          margin-left: 5%;
          margin-right: 45%;
        }
  
        .recomendedUserMemes {
          height: 25%;
          width: 50%;

          background: radial-gradient(white, lightslategray);
          margin-left: 45%;
          margin-bottom: 2.5px;
        }
  
        .rising {
          height: 25%;
          width: 50%;
          margin-bottom: 2.5px;
          margin-left: 5%;
          margin-right: 45%;

          background: radial-gradient(white, lightslategray);
        }
  
        .interactions {
          height: 25%;
          width: 50%;
          margin-left: 45%;

          background: radial-gradient(white, lightslategray);
        }
      }
    }

    .memeDiv {
      display:flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }

    .comments {
      display: block;
      height: 100%;
      width: 100%;

      opacity: 0;
      .comments-header {
        width: 100%;

        color: rgb(255, 255, 255);
        font-family: Quicksand;
        text-align: center;
      }

      .comment-section {
        display: block;
        height: auto;
        width: auto;  
        margin: 0 10px;

        border-radius: 15px;
      }
      .comment-object:hover {
        .triple div {
          opacity: 1;
          z-index: 1;
        }
      }

      .comment-object {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        height: auto;

        background: radial-gradient(rgba(232, 232, 232, .334), transparent);
        border-radius: 15px;
        margin: auto 0;
        .like-object {
          height: auto;
          width: 100%;
          max-width: 45px;
          max-height: 45px;
          margin: 3px 3px 3px 0;
          .like-symbol {
            height: 10px;
            width: 10px;
            margin: 0 auto;

            border: 2px solid white;
          }
    
          .likes {
            color: white;
            text-align: center;
          }

        }
        .comment {
          height: auto;
          width: 100%;

          color: white;
          font-family: Quicksand;
          padding: 1% 0;
        }
        
        .triple {
          margin: 5px;
        }

        .triple div {
          height: 5px;
          width: 5px;
          margin: 1px;

          background-color: white;
          border-radius: 3px;
          opacity: 0;
          z-index: -1;
        }
      }
    }

    .meme-information, .comments {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;

      background-color: transparent;
    }

    .other-vids div {
      border: 1px solid rgba(208,208,208,1);
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}
