.colur {
  background-color: blueviolet;
}

.video-container {
  border: 1em groove blueviolet;
  border-radius: .35em;
  height: 40rem;
  width: 25rem;
}

.VideoViewer {
  display: flex;
  justify-content: center;
}

.ImageViewer  {
  border: 1em groove blueviolet;
  border-radius: .35em;
  height: 40rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  flex: 1;
}
