$instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$Twitter: #1DA1F2;
$reddit: url('../../photos/reddit.svg');
$shadow: 0px 3px 10px rgba(0,0,0,.25);
$skin: #4db6ac;
$bluish: linear-gradient(33deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
$blue: rgba(84,58,183,1);
$shadow-realm: -9999;

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: none;
  font-weight: 300;
}
