@import '../../stylesheets/variables.scss';

.svgLoad {
  enable-background: new 0 0 50 50;
}

.Twitter {
  z-index: 1;
  animation: initTwitter 5s 1;
  transition-delay: 1750ms;
  background-color: $Twitter;
  min-height: 100%;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
}

.reddit {
  position: fixed; 
  z-index: 1; 
  animation: initTwitter 5s 1;
  transition-delay: 1000ms;
  background-color: $Twitter;
}

@keyframes initTwitter {
  from {
    background-color: white;
    padding: 0;
    margin: 0;
  }
  50%  { background-color: $Twitter; }
  to   { background-color: $Twitter; }
}

@keyframes Twitter2reddit {
  from { background-color: $Twitter; }
  50%  { background-color: white;  }
  to   { background-image: $reddit;  }
}

.viewer {
  display: inline-block;
  position: absolute;
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  .memeRend {
    position: absolute;
    display: flex;
    width: 100%;
    height: 95%;
    margin: 0;
    justify-content: center;
    .comments {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: transparent;
    }
    .memeInfo {
      background-color: transparent;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

.break-space {
  max-height: 50%;
  height: 7.5%;
}
