.bottomNav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;

  .direct {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 3% 4.5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
  }

  .make-comment {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 7%;
  }

  button {
    width: 40%;
    font-family: Quicksand;
    font-size: 14px;
  }

  input[type=submit].disabled {
    width: 35%;
  }
  input[type=submit].abled {
    width: 35%;
  }
}
