@import './../../stylesheets/variables.scss';
@import './../../stylesheets/global.scss';

.Bottom-Nav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;

  .direct {
    opacity: 1;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row-reverse;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-around;    
    height: 100%;
    width: 100%;

    svg {
      fill: white;
    }
  }


  @media screen and (max-width: 632px) {
    .direct {
      z-index: 5;
      position: absolute;
      bottom: 10%;
      width: 60%;
      height: auto;
      opacity: .25;
      justify-content: space-between;
      flex-direction: row-reverse;
      
      element {
        width: 25%;
      }
    }

    .sound-toggle {
      width: 65%;
    }

    .mobile-click {
      opacity: 1;
      animation-name: opacity-clear;
      animation-iteration-count: 1;
      animation-duration: 3s;
      animation-delay: 3.5s;
    }
  }

  .sign-in-buttons, .sign-up-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }

  input {
    width: 90%;
    margin: 0 auto;
  }

  button {
    width: 30%;
    font-family: Quicksand;
    font-size: 14px;
  }

  input[type=submit].disabled {
    width: 35%;
  }
  input[type=submit].abled {
    width: 35%;
  }

  .sign-in-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .sign-up-buttons button {
    margin: auto;
    height: 25%;
    width: auto;
    white-space: nowrap;
    font-size: 12px;
    font-size: 3vw;
  }

  .sign-in-buttons button {
    margin: auto;
    height: 25%;
    width: auto;
    white-space: nowrap;
    font-size: 12px;
    font-size: 3vw;
  }
}

img {
  height: 24px !important;
}

@keyframes opacity-clear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

@media screen and (max-width: 632px) {
  .mobile-nav {
    button {
      width: 100%;
      border-radius: 0;
      border-width: 2px;
      border-color: black;
      border-style: solid;
      background: rgba(0, 0, 0, .5);
      margin: 0;
    }
    button:nth-child(2) {
      width: 30% !important;
    }
    background: $blue-gradient;
    z-index: 1;
  }

  .direct {
    button:nth(2) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}