.VideoViewer {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  animation: initVideo 5s 1;
  video {
    box-sizing: border-box;
    height: 100%;
    max-width: min-content;
    width: auto;
    outline: none;
    margin: 0;
  }
}

@keyframes initVideo {
  0% {
    background-color: black;
    width: 1%;
    bottom: 0;
    opacity: 1;
  }

  50% {
    top: 100%;
    width: 1%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 1;
    background-color: black;
  }
}
