.VideoViewer {
  padding: 0px;
  margin: 0px;
  width: auto;
  height: 100%;
  // max-width: 70%;
  // max-height: 70%;
  margin: 0;
  border: 0.225rem solid radial-gradient(#387989, #6dd5ed);
  video {
    border: 0.225rem solid radial-gradient(#387989, #6dd5ed);
    width: auto;
    height: 100%;
  }
}
