@import '../../stylesheets/global.scss';

.big-label {
  color: rgb(63, 58, 58);
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: QuickSand;
  font-size: xx-large;
}

.margin-auto {
  opacity: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
}

/* Style the container */
.sign-up-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-in {
    color: $blue;
    text-decoration: underline;
    font-family: 'Quicksand';
    font-weight: 500;
  }
  .sign-up-form-parent {
    max-width: 40%;
    width: auto;
    height: auto;
    border-radius: 5%;
    background-color: #f2f2f2;
    padding: 20px;
    .row:nth-child(n + 1) {
      display: flex;
      flex-direction: column;
    }

    .form-confirmPassword {
      position: relative;
      display: block;
    }
  }

  li {
    font-family: Quicksand;
  }

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 0 12px 0;
    display: inline-block;
  }

  /* Style the submit button */
  input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  /* Floating column for inputs: 75% width */
  .col-75 {
    width: 75%;
    margin-top: 6px;
  }

  .form-inputs {
    width: 75% !important;
    height: 100%;
  }



  .account-requirements {
    height: auto;
    width: 100%;
  }
}

// animate in from left
.on-render {
  opacity: 1;
  animation-name: fade-into-center-from-left;
  animation-duration: 1.15s;
  animation-iteration-count: 1;
}
// animate out to left
.on-back-button {
  opacity: 0;
  animation-name: fade-out-to-left-from-center;
  animation-duration: .75s;
  animation-iteration-count: 1;
}
// animate out to right
.on-submit-button {
  animation-name: fade-out-to-right-from-center;
  animation-duration: .5s;
  animation-iteration-count: 1;
  opacity: 0;
}
// animate in from right
.on-failed-login {
  opacity: 1;
  animation-name: fade-into-center-from-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@media screen and (max-width: 632px) {
  .sign-up-page {
    .sign-up-form-parent {
      min-width: 80%;
      .row {
        label {
          padding-bottom: 0;
          padding-right: 0;
        }
        .MuiFormControl-root.MuiTextField-root.form-inputs.col-75 {
          width: 95% !important;
          padding: auto !important;
        }
      }
    }
  }
}

label {
  font-family: QuickSand;
}
