@import '../../stylesheets/variables.scss';

.red {
  color: red;
}

h1 {
  font-family: helmet;
}

li {
  font-family: helmet;
}

.landing {
  z-index: 1;
  position: absolute;
  min-height: 80%;
  min-width: 80%;
  width: 80%;
  height: 80%;
  margin: 0px;
  padding: 0px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  .bigText {
    color: white;
    font-size: 24px;
    font-family: titling;
    width: 85%;
    height: 85%;
    border-radius: 5%;
  }
}

.bigg {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  .memes {
    opacity: 1;
    border-radius: 0 5% 5% 0;
    animation-duration: 4s;
    width: 50%;
    background-color: rgba(0, 15, 153, $alpha: 1);
    height: auto;
    max-width: 50%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

  .user {
    opacity: 1;
    border-radius: 5% 0 0 5%;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    width: 50%;
    background-color: rgb(67, 224, 67);
    height: auto;
    max-width: 50%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.5s;
  }
}
