.image-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: fit-content;
  position: absolute;
  display: block;
  img {
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    outline: none;
  }
}