.ImageContainer {
  border: 0.225rem solid radial-gradient(#387989, #6dd5ed);
  padding: 0px;
  margin: 0px;
  max-width: 70%;
  max-height: 70%;
  display: flex;
  justify-content: center;
  .Image {
    border: 0.225rem solid radial-gradient(#387989, #6dd5ed);
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
  }
}